.slides{
    width:1200px !important;
}

.title{
    display: block;
    font-size: 110% !important;
    color: #777;
    text-transform: uppercase;
    width: 100%;
}

.subtitulo{
    color:#aaa;
}

.orange{
    color:rgba(255, 97, 6, 0.876);
    font-weight: bold;
}

img{
    width: 100% !important;
    margin: 30px !important;
}

.reveal section img{
    border:none !important;
    box-shadow:none;
}