.slides{
    width:1200px !important;
}

.title{
    display: block;
    font-size: 110% !important;
    color: #777;
    text-transform: uppercase;
    width: 100%;
}

.subtitulo{
    color:#aaa;
}

.orange{
    color:rgba(255, 97, 6, 0.876);
    font-weight: bold;
}

img{
    width: 100% !important;
    margin: 30px !important;
}

.reveal section img{
    border:none !important;
    box-shadow:none;
}

.destaque
{
    width: 100%;
    display: block;
    padding: 30px;
    color:#d83232d5;
    border-top: 3px solid #d83232d5 !important;
    border-bottom: 3px solid #d83232d5 !important;
    font-size: 25px !important;
    line-height: 50px;
}

ul.minurl li{
    font-size: 30px !important;
}